.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-item {
  margin: 0 10px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #444;
}

.toggler {
  display: none;
}

.toggler .line {
  width: 25px;
  height: 3px;
  background-color: #444;
  margin: 5px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .toggler {
    display: block;
  }

  .toggler .line:nth-child(2) {
    display: none;
  }

  .nav .logo {
    display: none;
  }

  .hero-img {
    display: none;
  }
}
